<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>dev.mam.gateway</string>
  <key>ProgramArguments</key>
  <array>
    <string>__NODE__</string>
    <string>__MAM_CLI__</string>
    <string>gateway</string>
    <string>--config</string>
    <string>/etc/mam/config.json</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardOutPath</key>
  <string>/var/log/mam/gateway.log</string>
  <key>StandardErrorPath</key>
  <string>/var/log/mam/gateway.log</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
  </dict>
</dict>
</plist>
